<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark noselect">
  <a class="navbar-brand" href="/">
      <img src="/media/codebin-1.png" width="40" height="40" alt="" loading="lazy">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="/">
        <h3 style="color: #62B6AF;">Codebin by: <%= data.name %></h3>
      </a>
    </ul>

    <button class="btn btn-secondary mr-2">
      <h5><a class="nostyle text-center" style="color: #62B6AF;" href="/share<%= path %>/raw">Raw File</a></h5>
    </button>

    <% if(name === data.name && name != 'Anonymous') { %>
    <button class="btn btn-secondary mr-2">
      <h5><a class="nostyle text-center" style="color: #62B6AF;" href="/share<%= path %>/edit">Edit</a></h5>
    </button>
    <%}%>

    <button class="btn btn-secondary mr-4">
      <h5><a class="nostyle text-center" style="color: #62B6AF;" href="#share">Share</a></h5>
    </button>
    
    <% if(name !== 'Anonymous') {%>
      <a href="/users/logout"><img style="width: 30px; height: 30px;" src="/media/logout.svg" loading="lazy"></a>
    <%}%>
  </div>
</nav>
<!-- Container -->
<div>
  <div id="linenos" style="font-size: 1.0rem;">
  <% for(var i = 0; i<data.input.length; i++) { %><%= Number(i)+1; %> </br><%}%>
  </div>
  <div style="margin-left: 1.1rem; ">
    <pre id="box" class="ml-4"><code class="hljs"><% for(i in data.input) { %><%= data.input[i] %></br><%}%></code></pre>
  </div>
</div>

<section style="z-index: 1000;">
  <div class="rt-container">
    <div class="col-rt-12">
        <div class="Scriptcontent">
          <div id="share" class="overlay">
              <div class="popup bg-dark" style="height: 140px;">
                <br />
                  <h4 style="text-align:center;color: #62B6AF;">Copy link to share</h4>
                  <br />
                  <a class="close" href="#">&times;</a>
                  <div class="content">
                      <kbd class="btn-block text-center"><a id="copy" style="color:#62B6AF;" onclick="copy(this)">https://cdbn.link<%=path %></a></kbd>
                  </div>
              </div>
          </div>	
      </div>
  </div>
</section>

<section style="z-index: 1000;">
  <div class="rt-container">
    <div class="col-rt-12">
        <div class="Scriptcontent">
          <div id="c" class="overlay">
              <div class="popup bg-dark" style="height: 180px;">
                  <h4 style="text-align:center;color: #62B6AF;">Created your bin!</h4>
                  <br />
                  <a class="close" href="#">&times;</a>
                  <h5 style="text-align:center;color: #62B6AF;">Copy link down below to share.</h5>
                  <br />
                  <div class="content">
                      <kbd class="btn-block text-center"><a id="copy" style="color:#62B6AF;" onclick="copy(this)">https://cdbn.link<%=path %></a></kbd>
                  </div>
              </div>
          </div>	
      </div>
  </div>
</section>

<script>
    function copy(that){
      var inp = document.createElement('input');
      document.body.appendChild(inp)
      inp.value =that.textContent
      inp.select();
      document.execCommand('copy',false);
      inp.remove();

      var copy = document.getElementById('copy');
      var text = copy.innerHTML;

      copy.innerHTML = 'Copied!';

      copy.style.color = "lightgreen";

      setTimeout(function() {
        copy.innerHTML = text;
        copy.style.color = "#62B6AF";
      }, 1000);
    }
</script>

