<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body bg-dark text-white">
        <div style="text-align: center; vertical-align: middle;">
          <a href="/"><h1><img style="width: 120px; height: 120px;" src="/media/codebin-1.png" /></h1></a>
          <h2 class="align-text-bottom" style="color: #62B6AF;">Register</h2>
        </div>
        <% include ../partials/messages %>
        <form action="/users/register" id="register" method="POST">
          <div class="form-group">
            <label for="name">Username</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Username"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="text-xs-center">
            <div class="g-recaptcha" data-theme="dark" data-sitekey="6LezSs0ZAAAAAJqWpdzpoIPqWavX8HwjSaLd0Q0H"></div><br>
          </div>
          <button type="submit" class="btn btn-info btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4 text-center">Have an account? <a href="/users/login">Login</a></p>
        <div class="text-white-50 d-inline-block mt-2 text-center">
          <strong><i class="fas fa-fw fa-code-branch"></i></strong> <%= data.location %> - v<%= data.version %><br>
          <strong><i class="far fa-fw fa-clock"></i></strong> <%= (Date.now() - data.dateNow) / 1000 %>s
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#register').submit(function() {
      $(this).ajaxSubmit({
        error: function(xhr) {
          status('Error: ' + xhr.status);
        },
       success: function(response) {
        console.log(response);
       }
      });
      //Very important line, it disable the page refresh.
      return false;
    });
  });
</script>